 <!-- Latest Posts -->
 <!-- <section class="latest-posts"> 
    <div class="container">
      <header> 
        <h2>Latest from the blog</h2>
        <p class="text-big">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
      </header>
      <div class="row">
        <div class="post col-md-4">
          <div class="post-thumbnail"><a href="#"><img src="../../../assets/img/eren.jpeg" alt="..." class="img-fluid"></a></div>
          <div class="post-details">
            <div class="post-meta d-flex justify-content-between">
              <div class="date">20 May | 2016</div>
              <div class="category"><a href="#">Anime</a></div>
            </div>
              <h3 class="h4"><a routerLink="/home/blog/post/1">Eren Yager and the great earthworks</a></h3>
            <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.</p>
          </div>
        </div>
        <div class="post col-md-4">
          <div class="post-thumbnail"><a navLink="/home/blog/post"><img src="../../../assets/img/tanji.jpeg" alt="..." class="img-fluid"></a></div>
          <div class="post-details">
            <div class="post-meta d-flex justify-content-between">
              <div class="date">20 May | 2016</div>
              <div class="category"><a href="#">Anime</a></div>
            </div><a href="#">
              <h3 class="h4"><a routerLink="/home/blog/post/1">Demon's layer(Mugen Train): Tanjiro's destiny</a></h3>
            <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.</p></a>
            </div>
        </div>
        <div class="post col-md-4">
          <div class="post-thumbnail"><a href="#"><img src="../../../assets/img/image3.jpg" alt="..." class="img-fluid"></a></div>
          <div class="post-details">
            <div class="post-meta d-flex justify-content-between">
              <div class="date">20 May | 2016</div>
              <div class="category"><a href="#">Anime</a></div>
            </div>
              <h3 class="h4"><a routerLink="/home/blog/post/1">Man of Sharingan, the unfound Ushiha</a></h3>
            <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.</p>
          </div>
        </div>
      </div>
    </div>
  </section> -->


  <section class="blog" id="blog">
    <div class="container">
      <div class="row">
  
        <!-- section title -->
        <div class="col-12">
          <div class="title text-center ">
            <h2> Latest <span class="color">Posts</span></h2>
            <div class="border"></div>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus facere accusamus, reprehenderit libero
              inventore nam.</p>
          </div>
        </div>
        <!-- /section title -->
        <!-- single blog post -->
        <article class="col-md-4 col-sm-6 col-xs-12 ">
          <div class="post-item">
            <div class="media-wrapper">
              <img src="../../../assets/img/tanji.jpeg" alt="amazing caves coverimage" class="img-fluid">
            </div>
  
            <div class="content">
              <h3><a href="single-post.html">A Few Moments</a></h3>
              <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf
                moon officia aute, non skateboard dolor brunch.</p>
              <a class="btn btn-main" href="single-post.html">Read more</a>
            </div>
          </div>
        </article>
        <!-- /single blog post -->
  
        <!-- single blog post -->
        <article class="col-md-4 col-sm-6 col-xs-12 ">
          <div class="post-item">
            <div class="media-wrapper">
              <img src="../../../assets/img/tanji.jpeg" alt="amazing caves coverimage" class="img-fluid">
            </div>
  
            <div class="content">
              <h3><a href="single-post.html">A Few Moments</a></h3>
              <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf
                moon officia aute, non skateboard dolor brunch.</p>
              <a class="btn btn-main" href="single-post.html">Read more</a>
            </div>
          </div>
        </article>
        <!-- end single blog post -->
  
        <!-- single blog post -->
        <article class="col-md-4 col-sm-6 col-xs-12 ">
          <div class="post-item">
            <div class="media-wrapper">
              <img src="../../../assets/img/eren.jpeg" alt="amazing caves coverimage" class="img-fluid">
            </div>
  
            <div class="content">
              <h3><a href="single-post.html">Hints for Life</a></h3>
              <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf
                moon officia aute, non skateboard dolor brunch.</p>
              <a class="btn btn-main" href="single-post.html">Read more</a>
            </div>
          </div>
        </article>
        <!-- end single blog post -->
      </div> <!-- end row -->
    </div> <!-- end container -->
  </section> <!-- end section -->
  <!-- single blog post -->
  <!-- <article class="col-md-4 col-sm-6 col-xs-12 clearfix ">
    <div class="post-item">
      <div class="media-wrapper">
        <img src="../../../assets/img/image3.jpg" alt="amazing caves coverimage" class="img-fluid">
      </div>

      <div class="content">
        <h3><a href="single-post.html">Reasons to Smile</a></h3>
        <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf
          moon officia aute, non skateboard dolor brunch.</p>
        <a class="btn btn-main" href="single-post.html">Read more</a>
      </div>
    </div>
  </article> -->
  <!-- /single blog post -->