

  .navbar {
    background: #fff;
    padding-top: 20px !important;
    padding-bottom: 20px !important;
    z-index: 9998;
    border-bottom: 1px solid #ddd;
    font-size: 1.1em;
    top: 0;
    position: fixed;
    width: 100%;
  }

  
  
  .navbar .langs a:first-of-type,
  .navbar .search-btn {
    margin-left: 20px;
    padding-left: 20px;
    border-left: 1px solid #ddd;
    height: 20px;
    line-height: 20px;
  }
  
  .navbar .search-btn {
    color: #333;
    font-size: 0.9em;
  }
  
  .navbar .navbar-toggler {
    margin-top: 5px;
  }
  
  .navbar .navbar-toggler span {
    width: 20px;
    height: 2px;
    background: #222;
    margin-bottom: 4px;
    display: block;
  }
  
  .navbar .navbar-toggler span:last-of-type {
    margin-bottom: 0;
  }
  
  .navbar .navbar-toggler.active span {
    margin: 0;
  }
  
  .navbar .navbar-toggler.active span:first-of-type {
    -webkit-transform: rotate(45deg) translate(3px);
    transform: rotate(45deg) translate(3px);
  }
  
  .navbar .navbar-toggler.active span:nth-of-type(2) {
    opacity: 0;
  }
  
  .navbar .navbar-toggler.active span:last-of-type {
    -webkit-transform: rotate(-45deg) translate(3px);
    transform: rotate(-45deg) translate(3px);
  }
  
  .navbar .langs a {
    font-size: 0.8em;
    color: #aaa;
    font-weight: 700;
  }
  
  .navbar .langs a.active {
    color: #333;
  }
  
  .navbar .langs span {
    width: 15px;
    height: 1px;
    background: #ddd;
    margin: 0 5px;
  }
  
  .navbar .search-area {
    display: none;
    z-index: 9999;
  }
  
  .navbar .search-area-inner {
    position: fixed;
    top: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(255, 255, 255, 0.99);
    padding: 20px !important;
  }
  
  .navbar .search-area-inner .close-btn {
    position: absolute;
    top: 20px;
    right: 20px;
  }
  
  .navbar .search-area-inner .row {
    width: 100%;
  }
  
  .navbar .search-area-inner .form-group {
    position: relative;
  }
  
  .navbar .search-area-inner .submit {
    background: none;
    border: none;
    position: absolute;
    right: 10px;
    bottom: 15px;
  }
  
  .navbar .search-area-inner input {
    width: 100%;
    border: none;
    border-bottom: 1px solid #ddd;
    background: none;
    padding: 10px 0;
    font-size: 1.6em;
    font-weight: 300;
    font-family: "Open Sans", sans-serif;
  }
  
  .navbar .search-area-inner input::-moz-placeholder {
    font-family: "Open Sans", sans-serif;
    color: #555;
    font-weight: 300;
    font-size: 1.1em;
  }
  
  .navbar .search-area-inner input::-webkit-input-placeholder {
    font-family: "Open Sans", sans-serif;
    color: #555;
    font-weight: 300;
    font-size: 1.1em;
  }
  
  .navbar .search-area-inner input:-ms-input-placeholder {
    font-family: "Open Sans", sans-serif;
    color: #555;
    font-weight: 300;
    font-size: 1.1em;
  }
  
  .navbar .navbar-nav a.nav-link {
    color: #333;
    margin: 0 5px;
    font-weight: 600;
    font-size: 0.95em;
  }
  
  .navbar .navbar-nav a.nav-link:hover {
    color: #2b90d9;
  }
  
  .navbar .navbar-nav a.nav-link.active {
    color: #2b90d9;
    font-weight: bold;
  }
  
  /* Navbar Media Query ------------------------------------- */
  @media (max-width: 991px) {
    nav.navbar .navbar-header {
      width: 100%;
    }
    nav.navbar::after {
      width: 100%;
    }
    nav.navbar.active::after {
      width: calc(100% - 170px);
    }
    nav.navbar .search-area {
      font-size: 0.75em;
    }
  }