
/*
* ==========================================================
*     HERO SECTION
* ==========================================================
*/
.hero{
    background: url("../../../assets/img/rock.png") top center;
    background-size: cover;
    background-position: center center;  
  }
section.hero {
    padding: 0;
    color: #fff;
  }
  
  section.hero .container {
    padding: 200px 20px;
    position: relative;
  }
  
  section.hero h1 {
    line-height: 1.2em;
  }
  
  section.hero .continue {
    position: absolute;
    bottom: 30px;
    left: 20px;
    text-decoration: none !important;
    color: inherit !important;
    text-transform: uppercase;
    font-size: 0.75em;
    opacity: 0.8;
  }
  
  section.hero .continue i {
    margin-right: 5px;
  }
  
  /* Hero Section Media Query ------------------------------------- */
  @media (max-width: 767px) {
    section.hero .container {
      padding: 150px 20px;
    }
  }