<app-hero></app-hero>

<!-- Intro Section-->
<section class="intro">
    <div class="container">
      <div class="row">
        <div class="col-lg-8">
          <h2 class="h3">Life is about sharing</h2>
          <p class="text-big">Do you have some <strong>knowledge</strong> about <strong>any usefull subject</strong>? here is the place to share it with community.
        You are a developper and have shorcuts about doing things, comme and share it with us for the greatest good</p>
        </div>
      </div>
    </div>
  </section>
  <app-why-blog></app-why-blog>
  <app-create-something></app-create-something>
  <app-latest-post></app-latest-post>

  <app-galery></app-galery>