 <section class="latest-posts"> 
    <div class="container">
      <header> 
        <h2>Why choose Black Rock Blog</h2>
        <p class="text-big">Build and Share your knowledge about any subject. Share for a better world</p>
      </header>
      <div class="row">
        <div class="post col-md-4">
          <div class="post-thumbnail"><img src="../../../assets/img/Share.png" alt="..." class="img-fluid"></div>
          <div class="post-details">
            <div class="post-meta d-flex justify-content-between">
            </div>
              <h3 class="h4">Share your tips and knowledge for helping others to get better</h3>
            <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.</p>
          </div>
        </div>
        <div class="post col-md-4">
          <div class="post-thumbnail"><img src="../../../assets/img/connection.png" alt="..." class="img-fluid"></div>
          <div class="post-details">
            <div class="post-meta d-flex justify-content-between">
            </div>
              <h3 class="h4">Stay connected with others </h3>
            <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.</p>
          </div>
        </div>
        <div class="post col-md-4">
          <div class="post-thumbnail"><img src="../../../assets/img/book.png" alt="..." class="img-fluid"></div>
          <div class="post-details">
            <div class="post-meta d-flex justify-content-between">
            </div>
              <h3 class="h4">Read amazing posts from anyone around the world</h3>
            <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.</p>
          </div>
        </div>
      </div>
    </div>
  </section>