<!-- Gallery Section-->
<section class="gallery no-padding">    
    <div class="row">
      <div class="mix col-lg-3 col-md-3 col-sm-6">
        <div class="item"><a routerLink="#" data-fancybox="gallery" class="image"><img src="../../../assets/img/rock.png" alt="..." class="img-fluid">
            <div class="overlay d-flex align-items-center justify-content-center"><i class="fas fa-search"></i></div></a></div>
      </div>
      <div class="mix col-lg-3 col-md-3 col-sm-6">
        <div class="item"><a routerLink="../../../assets/img/image1.jpg" data-fancybox="gallery" class="image"><img src="../../../assets/img/image1.jpg" alt="..." class="img-fluid">
            <div class="overlay d-flex align-items-center justify-content-center"><i class="fas fa-search"></i></div></a></div>
      </div>
      <div class="mix col-lg-3 col-md-3 col-sm-6">
        <div class="item"><a routerLink="../../../assets/img/image2.jpg" data-fancybox="gallery" class="image"><img src="../../../assets/img/image2.jpg" alt="..." class="img-fluid">
            <div class="overlay d-flex align-items-center justify-content-center"><i class="fas fa-search"></i></div></a></div>
      </div>
      <div class="mix col-lg-3 col-md-3 col-sm-6">
        <div class="item"><a routerLink="../../../assets/img/image3.jpg" data-fancybox="gallery" class="image"><img src="../../../assets/img/image3.jpg" alt="..." class="img-fluid">
            <div class="overlay d-flex align-items-center justify-content-center"><i class="fas fa-search"></i></div></a></div>
      </div>
    </div>
</section>